<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="admin">
	<!--  관리자 회원가입  -->
	<insert id="insertAdmin" parameterType="adminVo">
		insert into member (
			admin_id, admin_pass, admin_name, admin_mail
			)
		values(
			#{admin_id}, #{adimin_pass},#{admin_name}, #{admin_mail}
			)
	</insert>

</mapper>