@charset "UTF-8";

ul li, ol li {
	list-style: none;
}

#logo {
	margin-left: 100px;
	cursor: pointer;
}

#logo img {
	width: 230px;
	height: 120px;
}

.nav-up {
    top: -130px;
}

.login-form input[type="button"] {
	padding: 8px 16px; 
	border-radius: 3px;
	border: none;
	cursor: pointer;
	font-weight: bold;
	background-color: #007bff; 
	color:white;     
}

/* 새로운 css */

#gnb a {
	text-decoration: none;
	color: inherit;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	position: relative;
}

#header #gnb {
	display: flex;
	z-index: 99;
	/* margin-left: auto; */
}

#header #gnb>.dept1 {
	position: relative;;
	padding: 1rem 2rem;
	text-align: center;
}

#header #gnb>.dept1>a.active {
	color: red;
	font-weight: bold
}

#header #gnb .inner_menu {
	position: absolute;
	top: 100%;
	left: 39%;
	transform: translateX(-50%);
	width: 100%;
	padding-top: 3rem;
	display: none;
}

#header #gnb .dept2 {
	padding: 1rem 0;
	color: #555;
}

#header #gnb  .dept2>a:hover, #header #gnb  .dept2>a:active, #header #gnb  .dept2>a:focus {
	font-weight: bold
}

.hd_bg {
	background: #fff;
	width: 100%;
	height: 0;
	left: 0;
	z-index: 3;
	position: absolute;
}

.nav-up {
    top: -130px;
}