@charset "UTF-8";
/*글씨체*/


/*기본용*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*헤더용*/
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*중간용*/
@font-face {
    font-family: 'SOYOMapleBoldTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/SOYOMapleBoldTTF.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
  	box-sizing: border-box;
}

body {
  	font-family: 'GmarketSansMedium';
  	padding: 10px;
	background: #f9f8f4;
}
h2{
	font-family: 'EliceDigitalBaeum_Bold';
}
iframe{
	height:500px;
	width:1000px;
	border:none;
}

.alltop{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh; /* 화면 전체 높이에 대한 설정 */
	margin-top: 130px;
}

.category-container {
	display: flex;
	justify-content: space-around; /* 카테고리 아이템들을 가운데 정렬하고 간격을 벌립니다 */
	background-color: #f2f2f2; /* 박스 배경색 */
	padding: 20px; /* 내부 여백 */
	width:100%;
	border-radius:5px;
	margin-bottom:20px;
}

.category-item {
	padding: 10px 15px; /* 내부 여백 */
	margin: 0 10px; /* 아이템 간 간격 */
	border-radius: 5px; /* 모서리를 둥글게 만듭니다 */
	transition: all 0.3s ease; /* 부드러운 호버 효과를 위한 전환 */
}
 
.category-item:hover {
  	background-color: #e0e0e0; /* 호버 시 배경색 변경 */
	cursor: pointer; /* 호버 시 커서 모양 변경 */
}
.category-item a {
  text-decoration: none; /* 밑줄 제거 */
  color: #a586e3; /* 기본 텍스트 색상 설정 */
  transition: color 0.3s; /* 부드러운 색상 변경을 위한 transition 추가 */
}


.maincolumn {   
  float: left;
  width: 75%;
  padding-right: 20px;
}

/* Fake image */
.fakeimg {
  	background-color: #f9f8f4;
  	width: 100%;
  	padding: 20px;
  	font-family: 'GmarketSansMedium';
}

/* Add a card effect for articles */
    .card {
      text-align: center;
      padding: 20px;
      border-radius: 5px;
      border: 1px solid #ccc;
      background-color: #fff;
      width: 100%;
      max-width: 1000px; /* 최대 너비 설정 */
    }

/* Clear floats after the columns */
.row::after {
  content: "";
  clear: both;
}

.row {
 	justify-content: space-between;
}

.maincolumn {
	width: calc(100% - 5px); /* 열 너비를 50%로 설정하고 마진을 추가하여 간격을 만듭니다 */
  	box-sizing: border-box;
  	padding: 0 5px;
 	position:relative;
}

