/*기본용*/
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*헤더용*/
@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/*중간용*/
@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* body { */
/*     font-family: 'GmarketSansMedium'; */
/*     background-color: #f4f4f4; */
/* } */
.container {
    display: flex;
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
/*     border: 1px solid #ccc; */
    border-radius: 10px;
    
}

#left {
    width:400px;
    height:700px;
    padding: 20px;
    text-align: center;
    justify-content : center;
}

#right {
    width:1000px;
    padding: 20px;
    float:right;
}

h2.categoryTitle{
	margin: 20px;	
}

h1.mypage {
    font-family: 'Cafe24SsurroundAir';
    margin: 20px 0 20px 350px;
}
h2{
	font-family: 'Cafe24SsurroundAir';	
}
iframe{
	width: 800px;
	height: 730px;
	
}

.card p{
	text-align: center;
}
.category-container {
    display: flex;
    justify-content : center;
}

.category-item {
    margin-right: 10px;
    transition: all 0.3s ease;
}

.maincolumn {
    margin-top: 20px;
}
.mem-info div h2{
	margin:10px;
}

#mem-info-link a{
	font-size:1.1rem;
	text-decoration: none;
	flex-direction: column;
	align-items: flex-start;
	margin: 10px;
}
#mem-info-link #item{
	display: flex;
	height:20px;
	weight:40px;	
}

.category-container a{
	text-decoration: none;
	font-size:1.5rem;
	padding:10px;
	width:500px;
	height:300px;
	color:#333;
	transition:color 0.3s ease-in-out;
}
.category-container a:hover{
	color:black;
	background-color: rgb(194, 197, 223);
    cursor: pointer;
}
.category-container a {
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.categoryTitle {
	margin:20px;
}
.exclude-css {
    all: initial !important;
}
.container div {
    border: 1px solid #ccc; /* 회색 라인 추가 */
    padding: 10px; /* 선택적인 여백 추가 */
    margin-bottom: 10px; /* 선택적인 하단 여백 추가 */
}
.image-wrapper {
    width: 250px; /* 이미지 너비에 맞게 조절 */
    height: 250px; /* 이미지 높이에 맞게 조절 */
    border-radius: 50%; /* 원 형태로 이미지 모서리를 만듭니다. */
    overflow: hidden; /* 이미지를 감싸는 부분을 벗어나는 부분을 숨깁니다. */
    align-content: center;
    background: #fefbf4;
    justify-content: center;
}

.round-image {
    width: 100%; /* 부모 요소인 .image-wrapper에 맞게 이미지 크기 조절 */
    height: auto; /* 비율 유지 */
    display: block; /* 인라인 요소를 블록 요소로 변환하여 width와 height를 사용할 수 있게 합니다. */
}