@charset "UTF-8";

@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* 폰트 적용 */
.titleSelect {
	font-family: 'MICEGothic Bold';
}

/* 모달창 하단 close버튼 스타일 노란색으로 변경  */
.modal-footer button {
	background: #1a75ed;
	border: 1px solid #1a75ed;
	color: white;		
}

/* 모달창 중간 부분 폼과 상세정보가 양옆으로 나오도록 구역 설정*/
.modal-body {
	display: flex;
}

/* 모달 배경색 설정 */
.modal-header, .modal-body, .modal-footer {
	background-color:	#f9f8f4;	
}

#left-modal-body, #right-modal-body {
	flex-direction: row;
	width:50%;
	height:100%;
}

.backImgDiv {
	height: 500px;
	background-size: cover;
}

/* number 옆에 항상 화살표 보이게 설정 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: inner-spin-button;
    opacity: 1;
}

#rsv_count {
	width: 300px;
	height: 30px;
	font-size: 15px;
	border-style: solid;
	border-radius: 15px;
	padding-left: 10px;
	border-color: lightgray;
	outline: none;
}

#rsv_count:focus {
	border-color: #feeb48;
	outline: none;
}

/* 카카오 페이 버튼에 마우스 커서를 손가락 모양으로 변경 */
#payBtn {
	cursor: pointer;
}

/* 잔여 객실을 표시할 위치 설정 */
.empty_room{
	margin-left: 50%;
}

/* 객실 선택 라디오 버튼 설정 시작 */
.form_radio_btn {
	width: 47%;
	height : 45px;
    border: 1px solid #EAE7E7;
    border-radius: 10px;
}

.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
	display: block;
	border-radius: 10px;
	margin: 0 auto;
    text-align: center;
    height: -webkit-fill-available;
    line-height: 45px;
}

.form_radio_btn input[type=radio]:checked + label {
	background: #1a75ed;
	color: #fff;
}

/* Hover 설정 */
.form_radio_btn label:hover {
	color: #666;
}

/* disabled 설정 */
.form_radio_btn input[type=radio] + label {
	background: #F9FAFC;
	color: #666;
}
/* 객실 선택 라디오 버튼 설정 끝 */