@charset "UTF-8";

/* 모달창 하단 close버튼 스타일 노란색으로 변경  */
.modal-footer button {
	background: yellow;
	border: 1px solid rgb(255, 255, 0);
	color: black;		
}

#headerImg {
	width: 100%;
	height: 400px;
}

#headerImg .btn-close {
	text-align: right;
}