@charset "UTF-8";

@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.scroll_wrap {
	overflow: hidden;
}

.scroll_on {
	padding:50px 0;
	text-align: center;
	opacity: 0;
	transition: all 1s;
}

.scroll_on.active {
	opacity: 1 !important;
	transform: translate(0, 0) !important;
}

.scroll_on.type_bottom {
	transform: translate(0, 50px);
}

.scroll_on.type_top {
	transform: translate(0, -50px);
}

.scroll_on.type_left {
	transform: translate(-50px, 0);
}

.scroll_on.type_right {
	transform: translate(50px, 0);
}

.scroll_on h2 {
	font-family: 'Shilla_CultureB-Bold';
	font-size: 60px;
}

.scroll_on p {
	font-family: 'Cafe24SsurroundAir';
	font-size: 33px;
}

.scroll_on span {
	font-family: 'GmarketSansMedium';
}

.scroll_on figcaption {
	font-family: 'GmarketSansMedium';
}

.flexSide {
	display: flex;
	flex-direction: row;
	text-align: left;
}

